# global
**/__pycache__
**/_ignore
**/.dist_test
**/.pytest_cache
**/*.egg-info
**/*.TAG
**/dist
**/*.so
*.so
**/build
**/tmp
**/output
**/work_dirs
.idea
logs
ckpts
log
ckpt
*.JPEG
vmamba/classification/models/vis
vmamba/classification/models/visualization

vmamba/analyze/show
vmamba/analyze/features
vmamba/cross_selective_scan
vmamba/classification/models/pscan.py
vmamba/classification/configs/heat
vmamba/classification/models/heat
vmamba/classification/models/heat.py
vmamba/classification/models/vim.py
vmamba/classification/models/pscan.py

vmamba/detection/data
vmamba/segmentation/data

kernels/selective_scan/1.log
kernels/csmcuda
classification/dev.py
classification/models/triton_parts.py
classification/1.log
kernels/selective_scan/test_selective_scan_speed.py
kernels/selective_scan/test_selective_scan_easy.py
kernels/selective_scan/ssmtriton.py
test.sh
classification/models/vmamba copy.py
kernels/selective_scan/ssmjax.py
classification/models/vheat_wzz.py
classification/main_simmim_pt.py


classification/main_simmim_pt.py
classification/main_simmim_ft.py
classification/utils/utils_simmim.py
classification/models/simmim.py
classification/models/pvmamba.py
classification/models/simvmamba.py
classification/models/csm_triton_n.py
detection/vis/bears.jpg
detection/1.ipynb
detection/bears.jpg
classification/1.ipynb
1.txt
